*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #000;
}

h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

@media (min-width: 1280px) .container {
  max-width: 1280px;
}

@media (min-width: 1280px) .xl\:block {
  display: block;
}

@media (min-width: 1024px) .container {
  max-width: 1024px;
}

@media (min-width: 1024px) .lg\:top-0 {
  top: 0;
}

@media (min-width: 1024px) .lg\:sticky {
  position: sticky;
}

@media (min-width: 768px) .container {
  max-width: 768px;
}

@media (min-width: 640px) .container {
  max-width: 640px;
}

body {
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-height: inherit;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: match-parent;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  text-transform: uppercase;
}

.counter-list:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  position: absolute;
  left: -44px;
}

.content ol {
  counter-reset: item;
  margin-top: 1.25rem;
}

.content ol li {
  position: relative;
  display: block;
  text-indent: 2.5rem;
  margin-top: 10px;
}

.content ul {
  margin-left: 0.75rem;
  margin-top: 10px;
}
